.content{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightgray;
    padding: 20px;
    width: 100%;
}

#display{
    width: 100%;
    text-align: center;
    height: 200px;
    border: gray dashed 2px;
}

#slider{
    width: 100%;
}

#length{
    display: inline-block;
    width: 100px;
}

.previous_passwords{
    margin-bottom: 20px;
}

.btn{
    border-radius: 12px;
}

#copyButton{
    float: right;
}